<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/shrine2.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">Reaching To Puja Venue Cape Town</h1>
                        <!-- <span class="subheading">Let's jot something down today...</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mb-4">
        <div id="englishContent">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 color:green">
                        <h2>Travel Information to Puja venue</h2>
                        <!-- <img src="assets/img/" id="image">
                        <script type="text/javascript">
                            let image = document.getElementById('image');
                            let images = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg']
                            setInterval(function () {
                                let random = Math.floor(Math.random() * 5);
                                image.src = images[random]
                            }, 600)
                        </script>-->
                        <p> 📍Monkey Valley Resort, Mountain Road, Noordhoek, Cape Town, South Africa</p>
                        <p> 🕹️ Google Map Location: <a href="https://maps.app.goo.gl/8EZAjjLAuThx6vWK6">Click here For
                                Map</a><br></p>
                        <p></p>
                        <p></p>
                        <div class="page">
                            <div class="transport-method ">
                                <h3>1. 🛬 BY AIR 🛬</h3>
                                <p>Cape Town International Airport is 44 Km from the Puja Venue. Local Taxis (Uber) are
                                    available or South African Collectives will arrange the transportation from Airport
                                    to Puja Venue which will be at an Additional cost.
                                </p>
                            </div>
                        </div>
                        <br>
                        <h3>Flights</h3>
                        <p>Travel bookings to Cape Town.
                            Since the venue and the puja dates are all now confirmed, yogis can start looking for flight
                            deals/specials. Bearing in mind, the arrival date in Cape Town will be on the 1st of
                            November 2024, and the departure date would be on the 4th of November 2024.
                        </p>
                        <h3>Tour Packages For Tourist</h3>
                        <p>Yogies can use any travel agencies of their choice for any sight seeing trips in South
                            Africa.
                            However the following Travel agency comes recommended.<br>

                            If you wish to use the travel agency that we are recommending, then we request you to kindly
                            contact the concerned person directly( name and contact details are mentioned) to make your
                            own bookings and for any further assistance/arrangements regarding the tours.</p>
                            <p>For further details, see the attached PDF documens below.  </p>
                            <a href="https://drive.google.com/file/d/1KYJ9L9UXkRSeQNtqTM6bJCgGB0u_Xeq9/view?usp=sharing" style="color:#36AE7C;  ">Tour Packages For Tourist information guide pdf </a>
                        <h3>Visa</h3>
                        <p>We urge yogis to check their country requirements while doing your visa application.
                            Alternatively please contact us if you have any further queries, we will be happy to help.
                        </p>
                        <h3>Exclusive use of the venue</h3>
                        <p>Three nights sharing accommodation in comfortable, fully furnished, self-catering, chalet
                            style
                            units, or comfortable guest houses, depending upon their availability.</p>
                        <p>
                            Meals included-3 breakfast,3 lunches, and 3 suppers (will be cooked by the in-house chef and
                            his team)
                        </p>
                        <p>Exclusive use of conference halls(1 large that can take about 200 people and 2 smaller halls
                            adjacent to the main hall)</p>
                        <hr class="my-4" />
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="hindiContent" style="display: none;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>श्री आदिगुरु पूजा स्थल तक पहुंचने के लिए यात्रा सूचना</h2>

                        <p>श्री कन्वेंशन सेंटर, 80 फीट रोड, बनशंकरी 6वां चरण 1 ब्लॉक, भारत हाउसिंग सोसाइटी लेआउट,
                            सुब्रमण्यपुरा, बेंगलुरु, कर्नाटक 560062</p>
                        <p>Google Map Location: <a href=" https://maps.app.goo.gl/1yFXWrkKrtYEHeUj9">Click here For
                                Map</a><br></p>

                        <div class="page">
                            <div class="transport-method ">
                                <h3>1. हवाई जहाज से</h3>
                                <p>KIAL (बेंगलुरु) हवाई अड्डा पूजा स्थल से 48 किमी दूर है। स्थानीय टैक्सियाँ (ओला/उबर)
                                    उपलब्ध हैं।</p>
                            </div>

                            <div class="transport-method">
                                <h3>2. रेल से</h3>
                                <p>केएसआर बेंगलुरु सिटी जंक्शन और बस स्टैंड 16 किमी दूर है और यशवंतपुर रेलवे स्टेशन पूजा
                                    स्थल से 23 किमी दूर है। रेलवे स्टेशन (केएसआर बेंगलुरु सिटी जंक्शन और यशवंतपुर
                                    स्टेशन) ग्रीन लाइन मेट्रो के माध्यम से निकटतम मेट्रो स्टेशन (वज्रहल्ली) पहुंच स्थल
                                    से अच्छी तरह से जुड़ा हुआ है।</p>
                            </div>

                            <div class="transport-method">
                                <h3>3. बस से</h3>
                                <p>बस स्टैंड (केएसआर बेंगलुरु सिटी जंक्शन) और रेलवे स्टेशन (केएसआर बेंगलुरु सिटी जंक्शन
                                    और यशवंतपुर स्टेशन) ग्रीन लाइन मेट्रो के माध्यम से निकटतम मेट्रो स्टेशन (वज्रहल्ली)
                                    पहुंच स्थल से अच्छी तरह से जुड़ा हुआ है।</p>
                            </div>
                        </div>
                    -->
        <hr class="my-4" />
        </div>
        </div>
        </div>
        </div>
    </main>

    <%- include("partials/footer"); -%>