<%- include("partials/header"); -%>
<header class="masthead" style="background-image: url('/assets/img/maa_charan.webp')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                   
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div id="englishContent">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 class="mb-3">Registration Successful!</h1>
                    <p class="fs-4 fw-bold">Your registration number is:<span class="text-success fw-bold"> <%= urn %></span> </p>
                    <p class="fs-5 text-warning mb-0 fw-bold">Please note down this Registration Number or take a screenshot of this page! ЁЯУ╕</p>
                    <!--<p class="fs-5 text-warning mt-2 fw-bold hindi">рдХреГрдкрдпрд╛ рдЗрд╕ рд░рдЬрд┐рд╕реНрдЯреНрд░реЗрд╢рди рдирдВрдмрд░ рдХреЛ рдиреЛрдЯ рдХрд░реЗрдВ рдпрд╛ рдЗрд╕ рдкреГрд╖реНрда рдХрд╛ рд╕реНрдХреНрд░реАрдирд╢реЙрдЯ рд▓реЗрдВ! ЁЯУ╕</p>-->
                    <p class="fs-10 mb-0 fw-bold ">If you would like to add new Registration use this Registration buttonЁЯСЗ</p>

                    <a href="https://diwalipujasa2024.onrender.com/registration" class="btn btn-success custom-btn  rounded mx-auto d-block">Registration</a>

                    <!--<p class="fs-5 mt-1 fw-bold hindi">рдпрджрд┐ рдЖрдк рдирдП рдкрдВрдЬреАрдХрд░рдг рдЬреЛрдбрд╝рдирд╛ рдЪрд╛рд╣рддреЗ рд╣реИрдВ рддреЛ рдХреГрдкрдпрд╛ "Registration" рдмрдЯрди рдХрд╛ рдЙрдкрдпреЛрдЧ рдХрд░реЗрдВред ЁЯСЖ</p>-->
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!--for deployment link need to give here  exit from conffirmation page un comment this command-->
                    <p class="fs-5 mb-0 fw-bold ">To exit, please click the Home page button: ЁЯСЗ</p>

                    <a href="https://diwalipujasa2024.onrender.com/" class="btn btn-success custom-btn  rounded mx-auto d-block">Home Page</a>

                    <!--<p class="fs-5 mt-1 fw-bold hindi">рдЗрд╕ рд╡рд┐рдВрдбреЛ рдХреЛ рдмрдВрдж рдХрд░рдиреЗ рдХреЗ рд▓рд┐рдП "рд╣реЛрдо рдкреЗрдЬ" рдмрдЯрди рдХрд╛ рдЙрдкрдпреЛрдЧ рдХрд░реЗрдВред ЁЯСЖ</p>-->
                    <!--for local setup exit from conffirmation page un comment this command-->
                    <!--<a href="https://diwalipujasa2024.onrender.com/" class="btn btn-success custom-btn  rounded mx-auto d-block">Click here to exit</a>-->
                </div>
            </div>
        </div>
    </div>

</main>
</html>
